{% extends 'base.html.twig' %}

{% block title %}New RegistroHistoricoAnexo{% endblock %}

{% block body %}
    <h1>Create new RegistroHistoricoAnexo</h1>

    {{ include('registro_historico_anexo/_form.html.twig') }}

    <a href="{{ path('app_registro_historico_anexo_index') }}">back to list</a>
{% endblock %}
