{% extends 'base.html.twig' %}

{% block title %}Edit Projeto{% endblock %}

{% block body %}
    <h1>Edit Projeto</h1>

    {{ include('projeto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_projeto_index') }}">back to list</a>

    <form method="post"
      action="{{ path('app_projeto_cancel', { id: projeto.id }) }}"
      onsubmit="return confirm('Tem certeza que deseja cancelar este projeto?');"
      style="display:inline-block"
>
    <input type="hidden" name="_token" value="{{ csrf_token('cancelar' ~ projeto.id) }}">

    <button class="btn btn-danger">
        Cancelar projeto
    </button>
</form>


{% endblock %}
