{% extends 'base.html.twig' %}

{% block title %}Projeto{% endblock %}

{% block body %}
<h1>{{ projeto.titulo }}</h1>

<p>Status: <strong>{{ projeto.status }}</strong></p>

<a href="{{ path('app_projeto_edit', {id: projeto.id}) }}" class="btn btn-secondary">
    Editar
</a>

<form method="post"
      action="{{ path('app_projeto_cancelar', {id: projeto.id}) }}"
      style="display:inline;">
    <button class="btn btn-danger">
        Cancelar projeto
    </button>
</form>
{% endblock %}
