{% extends 'base.html.twig' %}

{% block title %}Editar Registro{% endblock %}

{% block body %}
<h1>Editar registro histórico</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Atualizar</button>
{{ form_end(form) }}

<a href="{{ path('app_registro_index', { id: registro.projeto.id }) }}">Voltar</a>
{% endblock %}
